#pageWrapper {

    .svg-wrraper img{
        max-height: 250px;
    }

    tspan {
        white-space: pre
    }

    .shp0 {
        fill: #43B9B2
    }

    .shp1 {
        fill: #ffffff;
        opacity: 0.700
    }

    .shp2 {
        fill: #263238
    }

    .shp3 {
        opacity: 0.2
    }

    .shp4 {
        fill: #ffffff
    }

    .shp5 {
        opacity: 0.300;
        fill: #43B9B2
    }

    .shp6 {
        opacity: 0.2;
        fill: #43B9B2
    }

    .shp7 {
        fill: #ffc3bd
    }

    .shp8 {
        opacity: 0.4
    }

    .shp9 {
        fill: #ed847e
    }

    .shp10 {
        fill: #e0e0e0
    }

    .shp11 {
        fill: #ff8b7b
    }

    .shp12 {
        opacity: 0.300
    }

    .shp13 {
        fill: #f0f0f0
    }

    .shp14 {
        fill: #e6e6e6
    }

    .shp15 {
        fill: #f5f5f5
    }

    .shp16 {
        fill: #ff5652
    }
}